h1{
    background: linear-gradient(to right, pink, rgb(0, 255, 255) );
}
p{
    background: linear-gradient(to right, rgb(0, 238, 255), yellow);
}
h2{
    background: linear-gradient(to right, yellow, red);
}
ul{
    background: linear-gradient(to right, rgb(0, 255, 102), lightpink);
}
code{
    background: linear-gradient(to right, rgb(0, 234, 255), rgb(0, 255, 128));
}